<div
	style="
		width: 100%;
		table-layout: fixed;
		background-color: #f4f4f4;
		padding-bottom: 60px;
	">
	<table
		style="
			border-collapse: collapse;
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
			background-color: #ffffff;
			border-radius: 8px;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		">
		<tr>
			<td
				style="
					background-color: #097969;
					padding: 30px;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;
					text-align: center;
				">
				<h1 style="color: #ffffff; font-size: 28px; margin: 0; padding: 0">
					Welcome to Our Blog!
				</h1>
			</td>
		</tr>
		<tr>
			<td style="padding: 30px; color: #333333; line-height: 1.6">
				<p style="font-size: 16px; margin-bottom: 15px; font-weight: bold">
					Dear <%= fullname %>,
				</p>
				<p style="font-size: 16px; margin-bottom: 15px; font-weight: bold">
					Thank you for signing up for our blog. We're excited to have you on
					board!
				</p>

				<p style="font-size: 16px; margin-bottom: 15px; font-weight: bold">
					Here are your account details:
				</p>
				<ul
					style="
						font-size: 16px;
						padding-left: 20px;
						margin-top: 0;
						margin-bottom: 15px;
					">
					<li style="color: #555; margin-bottom: 8px">
						<strong>Email:</strong> <%= email %>
					</li>
					<li style="color: #555; margin-bottom: 8px">
						<strong>Fullname:</strong> <%= fullname %>
					</li>
				</ul>

				<p style="font-size: 16px; margin-bottom: 15px; font-weight: bold">
					If you have any questions, please don't hesitate to contact us.
				</p>
				<p style="font-size: 16px; margin-bottom: 15px; font-weight: bold">
					Best regards,<br />
					The Blog Team
				</p>
			</td>
		</tr>
	</table>
</div>
